<%- include('partials/homeHeader') %>
<section class="banner">
    <div class="container">
        <div class="row just-content-center text-center">
            <div class="banner__content">
                <h1 class="title">
                    Clantro-Lime <br> Caulifower Rice
                </h1>
                <p class="para">
                    4 real ingredients, 4g net carbs, and $1 <br>
                    delivery fee when you order it for a limited <br> 
                    time.
                </p>
                <div class="banner__button">
                    <a href="#" class="banner__link" role="button">
                        Order Now
                    </a>
                </div>
                <p class="sub">
                    Addt'l service fee applies. $10 min/$200 max, excl tax. Limited time. <br> Min. order $10/max order $200, each excluding tax. Addt’l terms: chipotle.com/dollardelivery <br> 4g net carbs per serving = 7g Total Carbohydrates - <br> 3g Dietary Fiber
                </p>
            </div>
        </div>
    </div>
</section>
<section class="firstSection">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-12 firstSection__space">
                <div class="firstSection__content text-center">
                    <div class="firstSection__images">
                        <img src="/images/burrito-images-min.png" alt="burrito-images-min">
                    </div>
                    <h2 class="title">
                        Burrito
                    </h2>
                </div>
            </div>
            <div class="col-lg-4 col-12 firstSection__space">
                <div class="firstSection__content text-center">
                    <div class="firstSection__images">
                        <img src="/images/bowl-images-min.jpg" alt="bowl-images-min">
                    </div>
                    <h2 class="title">
                        Burrito Bowl
                    </h2>
                </div>
            </div>
            <div class="col-lg-4 col-12 firstSection__space">
                <div class="firstSection__content text-center">
                    <div class="firstSection__images">
                        <img src="/images/lifestyle-images.png" alt="lifestyle-images">
                    </div>
                    <h2 class="title">
                        Lifestyle Bowl
                    </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-12 firstSection__space">
                <div class="firstSection__content text-center">
                    <div class="firstSection__images">
                        <img src="/images/salad-images-min.jpg" alt="salad-images-min">
                    </div>
                    <h2 class="title">
                        Salad
                    </h2>
                </div>
            </div>
            <div class="col-lg-4 col-12 firstSection__space">
                <div class="firstSection__content text-center">
                    <div class="firstSection__images">
                        <img src="/images/tacos-images-min.jpg" alt="bowl-images-min">
                    </div>
                    <h2 class="title">
                        Tacos
                    </h2>
                </div>
            </div>
            <div class="col-lg-4 col-12 firstSection__space">
                <div class="firstSection__content text-center">
                    <div class="firstSection__images">
                        <img src="/images/chips-quac-images-min.jpg" alt="chips-quac-images-min">
                    </div>
                    <h2 class="title">
                        Sides & Drinks
                    </h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-12 firstSection__space">
                <div class="firstSection__content text-center">
                    <div class="firstSection__images">
                        <img src="/images/kidsmeal-images-min.jpg" alt="kidsmeal-images-min">
                    </div>
                    <h2 class="title">
                       Kid's Meal
                    </h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="secondSection">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12 secondSection__space">
                <div class="secondSection__content">
                    <div class="card secondSection__line">
                        <div class="row">
                            <div class="col-lg-6 col-12">
                                <div class="secondSection__content">
                                    <div class="card-body">
                                        
                                            <h3 class="safety">
                                                Safety <br> First
                                            </h3>
                                            <p class="para">
                                                We already take steps to ensure safety, like wearing gloves at all times, regularly sanitizing all high contact surfaces, and daily wellness checks. <br> But we’ve also taken new steps to set a higher safety standard.

                                            </p>

                                            <div class="secondSection__button text-center">
                                                <a href="#" class="secondSection__link">
                                                    Our Actions
                                                </a>
                                            </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="secondSection__content">
                                    <div class="secondSection__images">
                                        <img src="/images/Safety-first-images-min.jpg" alt="Safety-first-images-min">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-12 secondSection__space">
                <div class="secondSection__content">
                    <div class="card secondSection__line">
                        <div class="row">
                            <div class="col-lg-6 col-12">
                                <div class="secondSection__content">
                                    <div class="card-body">
                                        
                                            <h3 class="safety">
                                                Real Good, <br> Feel Good
                                            </h3>
                                            <p class="para">
                                                We’re here for you (and your goals) with our new Keto, Whole30®, Paleo, High Protein, Vegetarian, and Vegan Lifestyle Bowls.

                                            </p>

                                            <div class="secondSection__button text-center">
                                                <a href="#" class="secondSection__link">
                                                  Order Now
                                                </a>
                                            </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="secondSection__content">
                                    <div class="secondSection__images">
                                        <img src="/images/Real-good-feel-good-images-min.jpg" alt="Real-good-feel-good-images-min">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="thirdSection">
    <div class="container">
        <div class="thirdSection__content text-center">
            <h2 class="title">
                Crowd Pleasers
            </h2>
        </div>
        <div class="row">
            <div class="col-lg-6 col-12 thirdSection__space">
                <div class="thirdSection__content">
                    <div class="card thirdSection__line">
                        <div class="thirdSection__images text-center">
                           <h3 class="cate">
                            Catering
                           </h3>  
                        </div>
                        <div class="card-body">
                            <p class="para">
                                From 6 to 200 people. Starting at $8.25* / person Build Your Own. Burritos by the Box. Chips & Salsa 
                            </p>
                            <p class="sub">
                                Requires 24 hours notice
                            </p>

                            <div class="thirdSection__button text-center">
                                <a href="#" class="thirdSection__link">
                                    Expore Catering
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12 thirdSection__space">
                <div class="thirdSection__content">
                    <div class="card thirdSection__line">
                        <div class="thirdSection__imagesG text-center">
                           <h3 class="cate">
                            Group Order
                           </h3>  
                        </div>
                        <div class="card-body">
                            <p class="para">
                                Invite up to 20 people.  Normal menu pricing Full menu.  Personalized meals.  Organizer pays 
                            </p>
                            <p class="sub">
                                Order and eat today
                            </p>

                            <div class="thirdSection__button text-center">
                                <a href="#" class="thirdSection__link">
                                    Start Order Now
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('partials/footer') %>