@mixin respond($breakpoint) {
    @if $breakpoint == phone{
        @media (max-width:37.5em){     //600px 600/16=37.5em
            @content
        };
    }
    @if $breakpoint == tab-cells{
        @media (max-width:50em){     //800px  800/16=50em
            @content
        };
    }
    @if $breakpoint == tab-port{
        @media (max-width:56.25em){     //900px  900/16=56.25em
            @content
        };
    }
    @if $breakpoint == tab-you{
        @media (max-width:61.875em){     //990px  990/16=61.875em
            @content
        };
    }
    @if $breakpoint == tab-money{
        @media (max-width:64em){     //1024px  1024/16=61.875em
            @content
        };
    }
    @if $breakpoint == tab-land{
        @media (max-width:75em){        //1200px  1200/16=75em
            @content
        };
    }
    @if $breakpoint == tab-even{
        @media (max-width:87.5em){        //1400px  1400/16=75em
            @content
        };
    }
    @if $breakpoint == big-desktop{
        @media (min-width:112.5em){       //1800  1800/16=112.5em
            @content
        };
    }
}